<!--genre: params[:italian]-->

<ul class="list-unstyled">
  <% @genres&.each do |shop| %>
  <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #99CCCC; border-radius: 10px;">
    <h2 class="mt-0"><%= link_to shop.name, shop%></h2>

    <li class="media mb-3">
        <p style="margin-right: 50px; margin-left: 30px">
        <%= image_tag shop.img.url,:size =>'230x230' if shop.img?%>
        </p>
       <div class="media-body">
         <div>
           お店の住所：<%= shop.address %>
         </div>
         <div>
           口コミ情報：<%= shop.review%>
         </div>
      <p>お店のジャンル：<%= shop.genre %></p>
      <div style="margin-top: 30px; margin-bottom: 5px;">
        <%= link_to 'メニューなどお店情報詳細はこちら', shop ,class: 'btn btn-info'%>
        <%= link_to '編集', edit_shop_path(shop),class: 'btn btn-secondary' %>
      </div>
      
    </li>
  </div>
</ul>

  <% end %>
  <%= paginate @genres %>


  <h5><%= link_to 'トップページに戻る', root_url %></h5>