  <ul class="list-unstyled">
  <% @shops.each do |shop| %>
  <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #99CCCC; border-radius: 10px;">
  <h2 class="mt-0"><%= shop.name %></h2>
    <li class="media mb-3">
        <p style="margin-right: 50px; margin-left: 30px">
        <%= image_tag shop.img.url,:size =>'230x230' if shop.img?%>
        </p>
       <div class="media-body">
         <div>
           お店の住所：<%= shop.address %>
         </div>
         <div>
           おすすめのグルテンフリーメニューと金額：
           <% shop.menus.each do |m|%>
           <%= m.menu %>(<%= m.price %>
           <% end %>
         </div>
      <p><%= shop.genre %></p>
    </div>
  </li>
  </div>
  <% end %>
  <%= paginate @shops %>
</ul>