<h2><%= @shop.name %></h2>

<%= image_tag @shop.img.url,:size =>'230x230' if @shop.img?%>

<p>お店の住所：<%= @shop.address%></p>
<p>お店のエリア：<%= @shop.area%></p>
<p>お店のジャンル：<%= @shop.genre%></p>

<table class="table table-bordered">
  <tr>
    <th>グルテンフリーのメニュー</th>
    <th>金額</th>
  </tr>
  <tr>
    <% @shop.menus.each do |m|%>
    <td><%= m.menu %></td>
    <td><%= m.price %></td>
  </tr>
  <% end %>
</table>


お店の口コミ：
<div style="padding: 10px;border: 1px solid #99CCCC; border-radius: 10px;">
  <%= @shop.review%>
</div

<div style="margin-top: 30px">
  <%= link_to '一覧に戻る', shops_path,class: 'btn btn-secondary' %>  
  
  <% if current_user == @shop.user %>
  <%= link_to '編集', edit_shop_path(@shop),class: 'btn btn-secondary'%>
  <%= link_to '削除', @shop, method: :delete, data: { confirm: '本当に削除してよろしいですか？' },class: 'btn btn-secondary' %>
  <% end %>
</div>

