<h1>GLUTENFREE.tokyo</h1>

<h5><i class="far fa-paper-plane"></i>  料理のジャンルから探す</h5>
<p>What kind of food would you like to have?</p>

<div class="genre">
  <div class="img_wrap"><a href="/shops/genre/italian"><%= image_tag 'Italian1.png' , :size => '215x200' %></a></div> 
  <div class="img_wrap"><a href="/shops/genre/washoku"><%= image_tag 'washoku2.png' , :size => '215x200' %></a></div>
  <div class="img_wrap"><a href="/shops/genre/ethnic"><%= image_tag 'ethnic3.png' , :size => '215x200' %></a></div>
  <div class="img_wrap"><a href="/shops/genre/meet"><%= image_tag 'meet4.png' , :size => '215x200' %></a></div>
  <div class="img_wrap"><a href="/shops/genre/cafe"><%= image_tag 'cafe5.png' , :size => '215x200' %></a></div>
</div>


<h5><i class="far fa-paper-plane"></i>  レストランのエリアから探す</h5>
<p>Where do you enjoy your meal?</p>

<div class="area">
  <a class="btn btn-outline-secondary btn-lg" href="/shops/area/ginza" role="button">銀座</a>
  <a class="btn btn-outline-secondary btn-lg" href="/shops/area/sinbashi" role="button">新橋・汐留</a>
  <a class="btn btn-outline-secondary btn-lg" href="/shops/area/shibuya" role="button">渋谷</a>
  <a class="btn btn-outline-secondary btn-lg" href="/shops/area/shinjuku" role="button">新宿</a>
  <a class="btn btn-outline-secondary btn-lg" href="/shops/area/ikebukuro" role="button">池袋</a>ikebukuro
  <a class="btn btn-outline-secondary btn-lg" href="/shops/area/others" role="button">その他</a>
</div>


<h5><i class="far fa-paper-plane"></i>  <%= link_to 'お店の一覧／All list of restaurant', shops_path %></h5>

<span class="badge badge-secondary"><%= @count_shops %></span>
