<h1>GLUTENFREE.tokyo</h1>

<h4>料理ジャンルから探す</h4>

<div class="genre">
  <div class="img_wrap"><a href="#"><%= image_tag 'Italian1.png' , :size => '215x200' %></a></div> 
  <div class="img_wrap"><a href="#"><%= image_tag 'washoku2.png' , :size => '215x200' %></a></div>
  <div class="img_wrap"><a href="#"><%= image_tag 'ethnic3.png' , :size => '215x200' %></a></div>
  <div class="img_wrap"><a href="#"><%= image_tag 'meet4.png' , :size => '215x200' %></a></div>
 <div class="img_wrap"><a href="#"><%= image_tag 'cafe5.png' , :size => '215x200' %></a></div>
</div>
