<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="font-size: 25px; height: 60px;">
    <a class="navbar-brand" href="/">GLUTEN FREE.tokyo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'About', about_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Write a Review', new_shop_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Logout', logout_path, method: :delete, data: { confirm: '本当にログアウトしてよろしいですか？' }, class: 'nav-link' %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'About', about_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>